.blog {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.blog h1,
.blog h4 {
  text-transform: capitalize;
}
.post {
  /* border: 1px solid red; */

  margin: 2rem 0;
  float: right;
}
.post img {
  /* border: 1px solid red; */
  max-width: 70vw;
  /* margin: auto;
  display: block; */
  float: left;
  margin-right: 1rem;
}
